<div class="card-service">
    <div class="card-service__inner">
        {% if card.title %}
            <div class="card-service__title">
                {{ card.title }}
            </div>
        {% endif %}
        {% if card.items %}
            <div class="card-service__wrapper">

                {% for item in card.items %}
                    <div class="card-service__block">
                        {% if item.label %}
                            <div class="card-service__label">
                                {{ item.label }}
                            </div>
                        {% endif %}
                        {% if item.txt %}
                            {% if item.href %}
                                <a href={{item.href}} class="card-service__link">
                                    {{ item.txt }}
                                </a>
                            {% else %}
                                <div class="card-service__txt">
                                    {{ item.txt }}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                
            </div>
        {% endif %}
    </div>
</div>