<a href="
    {% if card.external %}{% if card.href %}{{ card.href }}" target=_blank {% endif %} 
    {% elseif card.phone %}tel:{% if card.href %}{{ card.href }}"{% endif %}
    {% else %}mailto:{% if card.href %}{{ card.href }}{% endif %}"{% endif %} 
    class="card-contact">
    {% if card.title %}
        <div class="card-contact__title">
            {{ card.title }}
        </div>
    {% endif %}
    {% if card.text %}
        <div class="card-contact__text" title={{ card.text }}>
            {{ card.text }}
        </div>
    {% endif %}
</a>