<div class="main-hero" data-main-hero{% if hero.autoplay %} data-autoplay="{{ hero.autoplay }}"{% endif %}>
	
		<div class="main-hero__wrap" data-slider>
			{% for slide in hero.slides %}
				<div class="main-hero__slide{{ slide.overlay ? ' has-overlay' : '' }}{{ slide.dark ? ' is-dark' : '' }}{% if loop.index == 1 %} is-active{% endif %}"
					data-slide>
					<div class="main-hero__shell">
						<div class="main-hero__inner">
							{% if slide.video %}
								<div class="main-hero__frame-wrap" data-image-wrap>
									<div class="main-hero__frame" data-image>
										{% view '^video-box' with {
											video: slide.video
										} %}
									</div>
								</div>
							{% endif %}
							{% if slide.image %}
								<div class="main-hero__image-wrap" data-image-wrap>
									<div class="main-hero__image" data-image>
										{% if slide.image.tab or slide.image.mob %}
											{% view '@image-adaptive' with {
												image: slide.image
											} %}
										{% else %}
											{% view '@image' with {
												image: slide.image
											} %}
										{% endif %}
									</div>
								</div>
							{% endif %}
							<div class="main-hero__container container">
								<div class="main-hero__content"  data-fade-in-up>
									<h2 class="main-hero__title h1" data-title>{{ slide.title }}</h2>
									{% if slide.action %}
										<div class="main-hero__action" data-action>
											{% view '@button' with {
												button: slide.action
											} %}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="main-hero__bottom">
			<div class="main-hero__container container">
				<div class="main-hero__numbers">
					{% for slide in hero.slides %}
						<button type="button"
								class="main-hero__number{% if loop.index == 1 %} is-active{% endif %}"
								data-number="{{ loop.index0 }}">{% if loop.index < 10 %}0{% endif %}{{ loop.index }}</button>
					{% endfor %}
				</div>
				{% if hero.autoplay %}
					<div class="main-hero__progress">
						<span data-progress></span>
					</div>
				{% endif %}
				<div class="main-hero__arrows">
					{% view '@nav-arrows' %}
				</div>
			</div>
		</div>
	<div class="main-hero__ov">
	</div>
</div>


